@model MVCBook.Models.Book

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
        <h2>Book Delete</h2>
    <p>Are you sure you want to delete this book?</p>
    @using(Html.BeginForm("Delete","Book",FormMethod.Post))
            {
<fieldset>
    <legend>Book detail</legend>
    <div>
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div>
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Author)
    </div>
    <div>
        @Html.DisplayFor(model => model.Author)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Publisher)
    </div>
    <div>
        @Html.DisplayFor(model => model.Publisher)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.PublicationDate)
    </div>
    <div>
        @Html.DisplayFor(model => model.PublicationDate)
    </div>
</fieldset>
    <p>
        <input type="submit"  value="Delete"/>
    </p>
            }
<p>
    @Html.ActionLink("Back to List", "Index", "Book")
</p>
</body>
</html>
